# Python virtual environments
.venv/
venv/
env/

# Python caches
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter temporary files
.ipynb_checkpoints/

# Local datasets
/data/

# Local secrets
.env
.env.*
!.env.example

# Editor and operating system files
.idea/
.vscode/
.DS_Store
Thumbs.db
Desktop.ini

#old_versions
chernovik.ipynb
ranking_evaluation.py
.old_versions/
old_versions